---
title: Call For Investors | Inventures | Impact Venture Capital Funds
---

{% include header.html %}

<h2>Call For Investors</h2>

<img src='/assets/desert.jpg' alt='People in a desert'/>

<h3>Invest with Inventures</h3>

<p>The Inventures II fund is currently open for investment with a commitment deadline set to 31 December 2017.</p>

<p>If you are willing to invest a minimum of  €100,000 to support businesses that follow the UN SDGs, please contact us and we’ll arrange a meeting.</p>

<img src='/assets/ines.jpg' alt='Ines presenting at the Magic 5 event in Ghent'/>

<h2>Benefits for investors</h2>

<p>Financial target: 15% annual Internal Rate of Return (IRR)<br/>
Impact targets are:</p>

<ul>
  <li>Min 75% of the impact indicators reached (innovation, climate, health, social, etc.)</li>
  <li>Min 350 new jobs in Europe</li>
  <li>Min 75% of the projects co-financed with citizens in participative crowdfunding</li>
</ul>

<a href='Download our teaser'>DOWNLOAD OUR 2-PAGE SUMMARY (PDF)</a>

<img src='/assets/man.jpg' alt='Man in a meeting'/>

<hr/>

<p>Interested in investing for Inventures II?<br/>
We are willing to provide more information.</p>

{% include footer.html %}
