<footer class='col col-12 bg-athens-gray dove-gray center h5 mt3 py2'>
  <ul class='list-reset mb1'>
    <li class='inline-block px2 border-right'>
      <a href='/'>About us</a>
    </li>
    <li class='inline-block px2 border-right'>
      <a href='/team-board/'>Team</a>
    </li>
    <li class='inline-block px2 border-right'>
      <a href='/venture-capital-funds/'>Funds</a>
    </li>
    <li class='inline-block px2 border-right'>
      <a href='/invest/'>Invest</a>
    </li>
    <li class='inline-block px2'>
      <a href='/get-funded/'>Get Funded</a>
    </li>
  </ul>

  <address class='mb1' id='organization' itemscope itemtype='http://schema.org/FinancialService'>
    <meta itemprop='image logo' content='{{ site.url }}/assets/inventures.svg'/>
    <a href='{{ site.url }}' itemprop='url'>
      <span itemprop='name'>Inventures SA</span>
    </a>
    &mdash;
    <span itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
      <span itemprop='streetAddress'>Place Sainte-Gudule 5</span>,
      <span itemprop='postalCode'>1000</span>
      <span itemprop='addressLocality'>Brussels</span>,
      <span itemprop='addressCountry'>Belgium</span>
    </span>
    &mdash;
    <a href='tel:{{ site.phone }}'>
      <span itemprop='telephone'>{{ site.phone }}</span>
    </a>
    &mdash;
    <a href='mailto:{{ site.email }}'>
      <span itemprop='email'>{{ site.email }}</span>
    </a>
    &mdash;
    <span itemprop='taxID'>BE 0836.671.025</span>
  </address>

  <p><a href='/disclaimer/'>Legal disclaimer</a></p>
</footer>

