<footer class='col col-12 bg-athens-gray dove-gray center h5 mt3 py2'>
  <ul class='list-reset mb1'>
    <li class='inline-block px2 border-right'>
      <a href='/'>About us</a>
    </li>
    <li class='inline-block px2 border-right'>
      <a href='/team-board'>Team</a>
    </li>
    <li class='inline-block px2 border-right'>
      <a href='/venture-capital-funds'>Funds</a>
    </li>
    <li class='inline-block px2 border-right'>
      <a href='/call-for-investors'>For investors</a>
    </li>
    <li class='inline-block px2'>
      <a href='/call-for-projects'>Call For Projects</a>
    </li>
  </ul>

  <address class='mb1'>
    Inventures SA
    &mdash;
    Place Sainte-Gudule 5, 1000 Brussels, Belgium
    &mdash;
    <a href='tel:{{ site.phone }}'>{{ site.phone }}</a>
    &mdash;
    BE 0836.671.025
  </address>

  <ul class='list-reset'>
    <li class='inline-block px2 border-right'>
      <a href='/disclaimer'>Legal disclaimer</a>
    </li>
    <li class='inline-block px2'>
      <a href='/cookie-policy'>Cookie policy</a>
    </li>
  </ul>
</footer>
