<ul>
  <li>
    <a href='/'>About us</a>
  </li>
  <li>
    <a href='/team-board'>Team</a>
  </li>
  <li>
    <a href='/venture-capital-funds'>Funds</a>
  </li>
  <li>
    <a href='/call-for-investors'>For investors</a>
  </li>
</ul>

<ul>
  <li>Impact Venture Capital Funds</li>
  <li>Place Sainte-Gudule 5, 1000 Brussels, Belgium</li>
  <li>
    <a href='tel:+3223184712'>+32 2 318 47 12</a>
  </li>
  <li>BE 0836.671.025</li>
</ul>

<ul>
  <li>
    <a href='/disclaimer'>Legal disclaimer</a>
  </li>
  <li>
    <a href='/cookie-policy'>Cookie policy</a>
  </li>
</ul>
