<head>
    <meta charset='utf-8'>
    <title>{{ page.title }} | {{ site.title }} | {{ site.tagline }}</title>
    <meta property='og:title' content='{{ site.title }}' />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='{{ site.url }}' />
    <meta property='og:image' content='{{ site.url }}/assets/inventures.png' />
    <meta property='og:site_name' content='{{ site.title }}' />
    <meta property='og:description' content='{{ site.description }}' />
    <meta name='viewport' content='width=device-width' />
</head>
