<style>
  .athens-gray { color: #F7F9FB }
  .bg-athens-gray { background-color: #F7F9FB }
  .dove-gray { color: #555 }
  .bg-dove-gray { background-color: #555 }
  .mine-shaft { color: #222 }
  .bg-mine-shaft { background-color: #222 }
  .sunset-orange { color: #FF4D40 }
  .bg-sunset-orange { background-color: #FF4D40 }
  a { color: #3EBDF7 }
  footer a { color: #555 }
  * { font-family: 'Roboto', sans-serif; font-weight: 300; }
  h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif }
  strong { font-weight: 600 }
</style>
